<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content ="width=device-width, initial-scale =1.0">
    <title>CRUD - Application</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
 </head>
 <body>
     <div class="container mt-6">
         <h2 class="text-center alert-danger">Modelform CRUD Project</h2>
        {% block content %} {% endblock content %}
    </div>
        <script src= "{% static 'enroll/js/bootstrap.js' %}"></script>
        <script src= "{% static 'enroll/js/jquery.js' %}"></script>
        <script src= "{% static 'enroll/js/popper.js' %}"></script>
 </body>
 </html>


                                                        